* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;

}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebf0fc;
    border-bottom: 2px solid #00000025;
    padding: 10px;
}

nav .wrapper .logo {
    flex-basis: 20%;
}

nav .wrapper .logo img {
    width: 250px;
}

nav .wrapper .manus {
    flex-basis: 60%;
    margin-left: 100px;
}

nav .wrapper .manus ul {
    display: flex;
    list-style: none;
}

nav .wrapper .manus ul li {
    margin: 0 10px;
    font-size: 18px;
    display: block;
}

nav .wrapper .manus ul li a {
    position: relative;
}

nav .wrapper .manus ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1.7px;
    width: 0%;
    background: #000;
    transition: all .3s;
}

nav .wrapper .manus ul li a:hover::after {
    width: 100%;
}

nav .wrapper .cart {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

nav .wrapper .cart .search {
    display: flex;
    align-items: center;
}


nav .wrapper .cart .search img {
    width: 25px;
    cursor: pointer;
}

nav .wrapper .cart>img {
    width: 35px;
}

/* hero-banner */
.hero-banner {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;

}


.hero-banner img {
    max-width: 102%;
    display: block;
    animation: marquee 20s linear infinite;

}


@keyframes marquee {
    0% {
        transform: translateY(2px);
    }

    25% {
        transform: translateX(-13px);
    }

    50% {
        transform: translateY(-13px);

    }

    75% {
        transform: translateX(0px);

    }

    100% {
        transform: translateY(2px);
    }
}

marquee {
    border: 1px solid #000;
}

marquee .marquee-adds {
    display: flex;
    flex-direction: row;
    padding: 10px 6px;
}

.marquee-adds p {
    font-size: 50px;
    padding: 10px 20px;
    margin: 0 10px;
    -webkit-text-fill-color: white;
    text-shadow: -1px -1px 0 #16191c, 1px -1px 0 #16191c, -1px 1px 0 #16191c, 1px 1px 0 #16191c;
    position: relative;
}

.marquee-adds p::after {
    content: "-";
    position: absolute;
    font-size: 50px;
    -webkit-text-fill-color: white;
    text-shadow: -1px -1px 0 #16191c, 1px -1px 0 #16191c, -1px 1px 0 #16191c, 1px 1px 0 #16191c;
    left: -15px;
}

.marquee-adds p:first-child:after {
    content: "";
}