* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;

}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

}

.container-mini {
    width: 90%;
    margin-top: auto;
    margin: 0 auto;

}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebf0fc;
    border-bottom: 2px solid #00000025;
    padding: 10px;
}

nav .wrapper .logo {
    flex-basis: 20%;
}

nav .wrapper .logo img {
    width: 250px;
}

nav .wrapper .manus {
    flex-basis: 60%;
    margin-left: 100px;
}

nav .wrapper .manus ul {
    display: flex;
    list-style: none;
}

nav .wrapper .manus ul li {
    margin: 0 10px;
    font-size: 18px;
    display: block;
}

nav .wrapper .manus ul li a {
    position: relative;
}

nav .wrapper .manus ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1.7px;
    width: 0%;
    background: #000;
    transition: all .3s;
}

nav .wrapper .manus ul li a:hover::after {
    width: 100%;
}

nav .wrapper .cart {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

nav .wrapper .cart .search {
    display: flex;
    align-items: center;
}


nav .wrapper .cart .search img {
    width: 25px;
    cursor: pointer;
}

nav .wrapper .cart>img {
    width: 35px;
}

/* hero-banner */
.hero-banner {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;

}


.hero-banner img {
    max-width: 102%;
    display: block;
    animation: marquee 20s linear infinite;

}


@keyframes marquee {
    0% {
        transform: translateY(2px);
    }

    25% {
        transform: translateX(-13px);
    }

    50% {
        transform: translateY(-13px);

    }

    75% {
        transform: translateX(0px);

    }

    100% {
        transform: translateY(2px);
    }
}

marquee {
    border: 1px solid #000;
}

marquee .marquee-adds {
    display: flex;
    flex-direction: row;
    padding: 10px 6px;
}

.marquee-adds p {
    font-size: 50px;
    padding: 10px 20px;
    margin: 0 10px;
    -webkit-text-fill-color: white;
    text-shadow: -1px -1px 0 #16191c, 1px -1px 0 #16191c, -1px 1px 0 #16191c, 1px 1px 0 #16191c;
    position: relative;
}

.marquee-adds p::after {
    content: "-";
    position: absolute;
    font-size: 50px;
    -webkit-text-fill-color: white;
    text-shadow: -1px -1px 0 #16191c, 1px -1px 0 #16191c, -1px 1px 0 #16191c, 1px 1px 0 #16191c;
    left: -15px;
}

.marquee-adds p:first-child:after {
    content: "";
}

/*  page-boulder */
.page-boulder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0;


}

.page-boulder .page-boulder-info {
    flex-basis: 45%;
    height: 100%;
    background-color: #ebf0fc;
    padding: 50px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 20px;
}

.page-boulder .page-boulder-info h2 {
    font-size: 40px;
}

.page-boulder .page-boulder-info h3 {
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
}

.page-boulder .page-boulder-info p {
    line-height: 1.5;
    font-size: 20px;
    margin: 20px 0;

}

.page-boulder .page-boulder-info .sop-naw-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.page-boulder .page-boulder-info .sop-naw-btn img {
    width: 20px;
}

.page-boulder .page-boulder-info .sop-naw-btn a {
    font-weight: bold;
    font-size: 20px;

}

.page-boulder-video {
    flex-basis: 45%;
    border-radius: 20px;


}

.page-boulder-video iframe {

    border-radius: 20px;
}

/* gem-page-template */
.gem-page-template {
    padding: 70px 0px;
    background-color: #ebf0fc;
}

.gem-page-template h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.gem-page-template .gem-pages {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.gem-page-template .gem-pages .gem-page {

    border: 1px solid #000;
    border-radius: 30px;
    padding: 15px;
    margin: 0 10px;
    flex-basis: 18%;
    background: #fff;
    aspect-ratio: 10/12;

}

.gem-page-template .gem-pages .gem-page img {
    max-width: 100%;
    aspect-ratio: 10/10;
    object-fit: cover;
    border-radius: 30px;
}

.gem-page-template .gem-pages .gem-page h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
}

.gem-page-template .gem-pages .gem-page p {
    margin: 10px 0;
}

/* theme-demo */
.theme-demo {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-demo .part-1 {
    border-radius: 50px;
    padding: 30px;
    flex-basis: 45%;
    box-shadow: 10px 10px 0px #c6c2c2;
}

.theme-demo .part-1 img {
    max-width: 100%;

}

.theme-demo .part-1 p {
    border-left: 1px solid #000;
    padding: 20px 0 20px 20px;
    line-height: 1.5;
    font-style: italic;
    color: #787474;
    font-size: 18px;
}

.theme-demo .part-2 {
    flex-basis: 45%;
}

.theme-demo .part-2 h2 {
    font-size: 50px;
    text-align: start;
}

/* fixed bg */
.fixed-bg {
    background-image: url(../images/fixed_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fixed-bg h2 {
    font-size: 100px;
    padding: 50px;
    color: #fff;
}